build-fedora:
  image: fedora:latest
  before_script:
    - dnf install -y git gcc meson gettext itstool gtk3-devel gnome-autoar-devel gnome-online-accounts-devel gspell-devel libcanberra-devel libsoup-devel rest-devel json-glib-devel diffutils
  script:
    - meson build
    - ninja -C build
    - ninja -C build test

variables:
  GIT_SUBMODULE_STRATEGY: normal
