/* headings on the recipes page */
label.heading {
	font: 16px Cantarell;
	font-weight: bold;
  padding: 20px 0 10px 0;
}

label.sidebar {
  background: none;
  border: none;
  padding: 10px;
}

scrolledwindow.error {
  border: 1px solid red;
  background: red;
}

box.searchbar {
  border-bottom: 1px solid black;
}

button.circular.small {
  padding: 0px;
}

image.checkmark.checked {
	color: inherit;
}

image.checkmark:not(.checked) {
	color: transparent;
}

image.framed {
  border: 1px solid #222222;
  border-radius: 4px;
}

.image-switcher {
  background: none;
}

image.chef.circular {
	border-radius: 9990px;
}

.view.tile {
  padding: 0;
  text-shadow: none;
  border: 1px solid @borders;
  background: @theme_base_color;
  border-radius: 0;
}
.recipe.view.tile {
  color: mix(@theme_base_color,@theme_fg_color,0.1);
  background-image: -gtk-recolor(url('resource:///org/gnome/Recipes/org.gnome.Recipes-symbolic.symbolic.png'));
  background-size: 100%;
  background-position: 80px -80px;
}

@define-color diet_tag_bg #cc1212;
@define-color diet_tag_fg #ffffff;

.diet-tag {
  background-image: none;
  background-color: @diet_tag_bg;
  color: @diet_tag_fg;

  border-radius: 4px;
  border-width: 0;

  margin: 2px;
  padding: 4px;
}

.diet-tag:hover {
  background-color: shade(@diet_tag_bg, 1.10);
  color: @diet_tag_fg;
}

.diet-tag.button,
.diet-tag.button:hover,
.diet-tag.button:active,
.diet-tag.button:active:hover {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-image: none;
  border-width: 0;
}

.diet-tag.button:hover {
    color: shade(@diet_tag_bg, 2.10);
}

@define-color meal_tag_bg #65a434;
@define-color meal_tag_fg #ffffff;

.meal-tag {
  background-image: none;
  background-color: @meal_tag_bg;
  color: @meal_tag_fg;

  border-radius: 4px;
  border-width: 0;

  margin: 2px;
  padding: 4px;
}

.meal-tag:hover {
    background-color: shade(@meal_tag_bg, 1.10);
    color: @meal_tag_fg;
}

.meal-tag.button,
.meal-tag.button:hover,
.meal-tag.button:active,
.meal-tag.button:active:hover {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-image: none;
  border-width: 0;
}

.meal-tag.button:hover {
    color: shade(@meal_tag_bg, 2.10);
}

@define-color ingredient_tag_bg #3465a4;
@define-color ingredient_tag_fg #ffffff;

.ingredient-tag {
  background-image: none;
  background-color: @ingredient_tag_bg;
  color: @ingredient_tag_fg;

  border-radius: 4px;
  border-width: 0;

  margin: 2px;
  padding: 4px;
}

.ingredient-tag:hover {
    background-color: shade(@ingredient_tag_bg, 1.10);
    color: @ingrdient_tag_fg;
}

.ingredient-tag.button,
.ingredient-tag.button:hover,
.ingredient-tag.button:active,
.ingredient-tag.button:active:hover {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-image: none;
  border-width: 0;
}

.ingredient-tag.button:hover {
  color: shade(@ingredient_tag_bg, 2.10);
}

image.very-spicy {
        color: red;
}
